:root {
  --main-title-color: #212121;
  --current-white-color: #ffffff;
  --first-text-color: #757575;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --hero-button-accent-color: #188ce8;
  --logo-color: #000000;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--first-text-color);
  background-color: var(--current-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

/* -------------------------------- Header---------------------------- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--line-color);
}

.header-list {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child),
.header-contact-info-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-info {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  margin-right: 93px;
}

.logo-studio-header {
  color: var(--logo-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-contact-info-link:hover,
.header-link:focus,
.header-contact-info-link:focus {
  color: var(--accent-color);
}

.mail-phone-info:hover,
.mail-phone-info:focus {
  color: var(--accent-color);
}

.header-contact-info-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* ---------------------------- Hero ----------------------------- */

.hero {
  text-align: center;

  background-color: var(--second-bg-color);
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--current-white-color);

  width: 696px;
  padding: 280 452;
  margin: 0 auto 30px;
}

.hero-button {
  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--current-white-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: 0px;

  min-width: 200px;
  height: 50px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-accent-color);
}

/* ------------------------------- Special Qualities--------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.special-qualities-list {
  display: flex;
}

.special-qualities-item {
  margin-right: 30px;
  width: 270px;
  height: 101px;
}

.special-qualities-item:last-child {
  margin-right: 0px;
}

.special-qualities-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.special-qualities-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/*----------------------------- What We Do ----------------------------- */

.what-we-do {
  padding-top: 0;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-header,
.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

/* ------------------------------Our Team Section ------------------------- */

.our-team {
  background-color: var(--third-bg-color);
}

.our-team-header {
  text-align: center;
}

.our-team-list {
  display: flex;
  text-align: center;
}

.our-team-item {
  background-color: var(--current-white-color);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin: 0 0 10px 0;
}

.our-team-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.our-team-data {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ----------------------------------- Footer------------------------------- */

.footer {
  background-color: var(--second-bg-color);
  padding: 60px 0;
}

.container > .logo.link {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
}

.logo-studio-footer {
  color: var(--current-white-color);
}

.address-info {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--current-white-color);

  margin-bottom: 9px;
}

.footer-list {
  display: block;
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.mail-phone-info {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.container > .logo {
  padding: 0;
  margin: 0 0 20px 0;
}

/*  -*-*-*-*-*-*-*-*-*-*-*-*-*- Portfolio Page -*-*-*-*-*-*-*-*-*-*-*-*-*-   */

.filter-button {
  cursor: pointer;
  min-height: 38px;
  min-width: 73px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--third-bg-color);
  border: 0;
  border-radius: 4px;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.active {
  color: var(--current-white-color);
  background-color: var(--accent-color);
}

/* ------------------------------- Cards ---------------------------------*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  text-align: -webkit-match-parent;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  width: 370px;
  margin-right: 30px;
}

.cards-item .card-data {
  border: 1px solid var(--border-color);
  border-top: 1px solid transparent;
  padding: 20px 24px;
  margin-bottom: 30px;
}

.cards-item:nth-child(3n) {
  margin-right: 0px;
}

.card-data {
  padding: 20px 24px;
  text-align: left;
}

.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.cards-subtitle {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
